---
import Layout from '../components/layout.astro';
---
<Layout>
  <section>
    <h2>Home Page</h2>
    <p>Paragraph</p>
  </section>

  <section>
    <h2>New Page</h2>
    <p>Hello</p>
  </section>
</Layout>
