---
// Import the layout component.
import Layout from '../components/layout.astro';
---
<!-- Use the layout component to wrap this page's content -->
<Layout>
  <section>
    <h2>Home Page</h2>
    <p>Paragraph</p>
  </section>
</Layout>
---

---
<!-- Use the layout component to wrap this page's content -->
<Layout>
  <section>
    <h2>New Page</h2>
    <p>hello/p>
  </section>
</Layout>
