---
// This is the layout component which wraps page content.
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RG Site</title>
  </head>
  <body>
    <header>
      <h1>My Astro Sites</h1>
      <nav>
        <a href="https://www.ucsd.edu">UCSD Website</a>
      </nav>
    </header>

    <main>
      Testing this out
      <slot />
    </main>

    <footer>
      <p> Last updated March 1, 2024 </p>
    </footer>
  </body>
</html>
